$color : rgb(5, 97, 89);
$color-h: rgb(223, 223, 223);

body {
    background: $color;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin: 0;
        font-size: 2rem;
        color: $color-h;
        font-style: italic;
        text-align: center;
        flex: 2;
    }

    h2 {
        margin: 0;
        font-size: 3em;
        border: 2px solid $color;
        flex: 1;
        color: $color-h;
    }

    p {
        color: $color-h;
    }
}

nav {
    ul {
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            margin-right: 10px;
            
            a {
                text-decoration: none;
                color: $color-h;
                font-size: 1.5em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        color: $color-h;
        font-size: 1.5em;
        flex: 0 1 100%;
    }
}
