<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Aprendiendo a Utilizar Gulp
        link(rel="stylesheet", href="./css/styles.css")
    body
        h1.title Juan Delgado
        nav.Nav
            ul
                li 
                    a(href="https://github.com/JuanDelgado06" target="_blank") Contacto
                li 
                    a(href="galeria.pug") Galeria
        h1.title Soy un titulo
        p#parrafo Soy un parrafo hecho en pug 
            i soy un texto en cursiva hecho con pug
        h2 Pug esta muy chebere y bueno
        p ya hemos aprendido mucho sobre gulp, me siento muy 
            strong Orgulloso 
        p Esto funciona muy bien perrito
        h2 Emmet tambien sirve para 
            i PUG
        p ya enlace el css a mi pagina
        p te esta haciendo caso, si
        h2 Sirve muy bien mi GulpFile
        h2 creando una lista con una variable
        ul.list
            -n=0
            while n++ <10
                li.list__item #{n}
            