<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Aprendiendo a Utilizar Gulp
        link(rel="stylesheet", href="./css/styles.css")
    body
    .contenedor
        h1.title Configuracion de GULP en su Version 4.0.2 (Actualizado al 2019) by @JuanDelgado06
        nav.Nav
            ul
                li 
                    a(href="https://github.com/JuanDelgado06" target="_blank") Contacto en Github
        p#parrafo Funciona en Pug 
            i soy un texto en cursiva hecho con pug
        h2 Funciona en Pug 
        h2 Emmet tambien sirve para 
            i PUG
        h2 Sirve muy bien mi GulpFile
        h2 Creando una lista con una variable de pug
        ul.list
            -n=0
            while n++ <10
                li.list__item #{n}
            